<tr>
  <td><%= match.competition.due_on %></td>
  <td><%= match.competition.name %></td>
  <td><%= match.category %></td>
  <td><%= match.name %></td>
  <td><%= match.event %></td>
  <td><%= link_to "エントリー取り消し", entry_path(current_user.entries.find_by(match_id: match.id)), class:"badge badge-primary", method: :delete %></td>
  <td><%= link_to "エントリー確認", competition_match_path(match.competition, match), class:"badge badge-primary" %></td>
</tr>