<%= form_with model: @competition, local: true do |f| %>
  <div class="form-group">
    <%= f.label :競技会タイトル %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :競技会日時 %>
    <%= f.date_field :due_on, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :場所 %>
    <%= f.text_field :place, class: 'form-control' %>
  </div>
  <%= f.submit '登録', class: 'btn btn-primary' %>
<% end %>